body{
  background: rgb(238, 236, 225);
}
header{
  width: 100%;
  background: rgb(230,184,183);
  font-family: calibri;
  color: black;
  text-align: center;
  padding: 0.05% 0;
}
header h1{
    font-size: 600%;
}
main{
  min-height: 35vw;
}

 .Agendamentos h2 {
  margin-top: 5%;
  margin-bottom: 0;
  padding: 1px;
  background: rgb(128,128,128);
  font-size: 400%;
  font-family: calibri;
  color:rgb(146,208, 80);
  color: white;
  background: rgb(141,180,226);
}
.Disponivel h2{
  margin-top: 5%;
  margin-bottom: 0;
  padding: 1px;
  background: rgb(155,187, 89);
  font-size: 400%;
  font-family: calibri;
  color: black;
}
.Disponivel .horario{
    background: rgb(197,217,241);
}
.Disponivel thead .nome{
    background: rgb(197,217,241);
}
.Disponivel thead .servico{
  background: rgb(197,217,241);
}
.Disponivel tbody .nome{
    background: rgb(155,187, 89);
}
.Disponivel tbody .servico{
    background: rgb(155,187, 89);
}
.Agendamentos table thead tr td{
  font-size: 150%;
  color:black;
  background: rgb(197,217,241);
}
.Disponivel table thead tr{
  font-size: 150%;
  color:black;
  background: rgb(,217,241);
}
table tr td{
  background: rgb(242,242,242);
  font-size: 140%;
  text-align:center;
  color:black;
}

footer{
  margin-top: 2%;
  width: 100%;
  height: 150px;
  background: rgb(230,184,183);
}
